/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 abr. 2023, 19:56:22
    Author     : rlmz93
*/

body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	margin: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav li:last-child {
	margin-right: 0;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	padding: 20px;
}

h2 {
	font-size: 24px;
	color: #333;
}

form {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin: 0 auto;
}

label {
	margin-top: 10px;
}

input {
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	border: none;
	border-radius: 5px;
}

button {
	background-color: #333;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #555;
}

.card + .card {
	margin-top: 20px;
}
